.App {
  background-image: url("./img/karsten-wurth-0w-uTa0Xz7w-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.toggle-parent {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10vw;
}

.search-parent {
  text-align: center;
  padding: 10vh 10vw;
}

.card-parent {
  padding: 1vh 10vw;
}

.map-parent {
  padding: 0 1vw;
}

.heading {
  color: white;
}
